Repository woocommerce/woocommerce-google-analytics-integration, pull requests merged in 2023-03, with the labels that each got.

#257 Make up the missed changelog for version 1.5.19 and reduce the amount of changelog entries in readme.txt
  changelog.txt
  readme.txt
Labels: changelog: dev

#259 Release 1.6.2
  changelog.txt
  package-lock.json
  package.json
  readme.txt
  woocommerce-google-analytics-integration.php
Labels: changelog: none

#260 Refactor wp_head scripts and use wp_register scripts instead.
  includes/class-wc-abstract-google-analytics-js.php
  includes/class-wc-google-analytics-info-banner.php
  includes/class-wc-google-analytics-js.php
  includes/class-wc-google-analytics-task.php
  includes/class-wc-google-analytics.php
  includes/class-wc-google-gtag-js.php
  phpcs.xml.dist
  woocommerce-google-analytics-integration.php
Labels: type: bug, changelog: fix

#262 Release 1.7.0
  changelog.txt
  package-lock.json
  package.json
  readme.txt
  woocommerce-google-analytics-integration.php
Labels: changelog: none
